<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Pedropedia: the useless encyclopedia provides a daily fact." />
    <meta name="keywords" content="daily, useless, facts" />
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>P</text></svg>"
      defer
    />
    <script src="https://cdn.jsdelivr.net/npm/party-js@latest/bundle/party.min.js" defer></script>
    <script src="scripts/main.js"></script>
    <title>Pedropedia</title>
  </head>
  <body>
    <header>
      <h1>Welcome to Pedropedia</h1>
    </header>
    <main>
      <section id="fact-block">
        <article class="fact">
          <div class="fact-container">
            <div class="fact-title">
              Fact #<span id="fact-id">{{ id }}</span> 
              (<time id="fact-date">{{ date }}</time>)
            </div>
            <div class="fact-contents">
              <p id="fact-contents">{{ content }}</p>
            </div>
          </div>
        </article>
      </section>
      <section>
        <div class="button-bar">
          <div class="button-holder">
            <button class="button-active" id="btn-true">True</button>
          </div>
          <div class="button-holder">
            <button class="button-active" id="btn-false">False</button>
          </div>
        </div>
      </section>
      <section>
        <nav class="nav-dates">
          <ul>
            <li>
              <div class="button-holder">
                  <button class={{ "button-inactive" if firstId else "button-active"}} id="btn-prev">&lt; Previous</button>
              </div>
            </li>
            <li>
              <div class="button-holder">
                <button class={{ "button-inactive" if lastId else "button-active"}} id="btn-next">Next &gt;</button>
              </div>
            </li>
            <li>
              <div class="button-holder">
                <button class={{ "button-inactive" if lastId else "button-active"}} id="btn-last">Last &gt;&gt;</button>
              </div>
            </li>
          </ul>
        </nav>
      </section>
    </main>
    <footer>
      <p>
        Pedropedia: The useless encyclopedia -
        <a href="https://github.com/pedvide/pedropedia/issues">Report an issue</a>
      </p>
    </footer>
  </body>
</html>
