<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="style.css"
    />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>P</text></svg>"
    />
    <script src="https://cdn.jsdelivr.net/npm/party-js@latest/bundle/party.min.js"></script>
    <title>Pedropedia</title>
  </head>
  <body>
    <header>
      <h1>Welcome to Pedropedia</h1>
    </header>
    <main>
      <article>
      </article>
      <section id="fact-block">
        <article class="fact">
          <div class="fact-container">
            <div class="fact-title">
              Fact of the day
            </div>
            <div class="fact-contents">
              <p>{{ content }}</p>
            </div>
          </div>
        </article>
      </section>
      <div class="button-bar">
        <div
          class="button-holder"
          id="{% if isTrue %}right-answer{% else %}wrong-answer{% endif %}"
        >
          <button class="button" id="btn-true">True</button>
        </div>
        <div
          class="button-holder"
          id="{% if isTrue %}wrong-answer{% else %}right-answer{% endif %}"
        >
          <button class="button" id="btn-false">False</button>
        </div>
      </div>
    </main>
    <footer>
      <p>Pedropedia: The useless encyclopedia</p>
    </footer>

    <script>
      document
        .querySelector("#right-answer")
        .addEventListener("click", function (e) {
          party.confetti(this, {
            count: party.variation.range(20, 40),
          });
        });

      const wrongButton = document.querySelector("#wrong-answer");

      const wrongAnswerEmoji = document.createElementNS(
        "http://www.w3.org/2000/svg",
        "text"
      );
      wrongAnswerEmoji.setAttribute("x", "0");
      wrongAnswerEmoji.setAttribute("y", "1em");
      wrongAnswerEmoji.setAttribute("font-size", "16");
      wrongAnswerEmoji.setAttribute("fill", "#000000");
      wrongAnswerEmoji.textContent = "💩";
      const wrongAnswerSVG = document.createElementNS(
        "http://www.w3.org/2000/svg",
        "svg"
      );
      wrongAnswerSVG.setAttribute("height", "20");
      wrongAnswerSVG.setAttribute("width", "20");
      wrongAnswerSVG.appendChild(wrongAnswerEmoji);

      wrongButton.addEventListener("click", function (e) {
        party.scene.current.createEmitter({
          emitterOptions: {
            loops: 1,
            useGravity: true,
            modules: [
              new party.ModuleBuilder()
                .drive("size")
                .by((t) => 1 + 0.6 * (Math.cos(t * 10) + 1))
                .build(),
              new party.ModuleBuilder()
                .drive("rotation")
                .by((t) => new party.Vector(0, 100, 100).scale(t))
                .relative()
                .build(),
            ],
          },
          emissionOptions: {
            rate: 5,
            bursts: [{ time: 0, count: party.variation.skew(30, 10) }],
            sourceSampler: party.sources.dynamicSource(wrongButton),
            angle: party.variation.range(-150, -30),
            initialSpeed: 500,
            initialLifetime: party.variation.range(6, 8),
          },
          rendererOptions: {
            shapeFactory: wrongAnswerSVG,
            applyLighting: undefined,
          },
        });
      });
    </script>
  </body>
</html>
