body {
  box-sizing: content-box;
  margin: auto;
  font-family: sans-serif;
  font-size: 18px;
}
/* Desktop Styles */
@media only screen and (max-width: 961px) {
  body {
    width: 100%;
  }
}
/* app Styles */
@media only screen and (min-width: 961px) {
  body {
    width: 960px;
  }
}

header {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-family: "Linux Libertine", "Georgia", "Times", serif;
}

main {
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
}

footer {
  margin-left: 20px;
  margin-top: auto;
}
@media only screen and (max-width: 960px) {
  footer {
    text-align: center;
    margin-left: unset;
  }
}

button.button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 0.25em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
}

#btn-true.button {
  background-color: green;
}
#btn-true.button:hover {
  background-color: #555555;
}
#btn-false.button {
  background-color: #f44336;
}
#btn-false.button:hover {
  background-color: #555555;
}

div.button-bar {
  display: flex;
  justify-content: center;
  margin-top: 2.5em;
}
div.button-holder {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 5px 15px;
}
