body {
  margin: auto;
  padding: 0px 1em;

  font-family: sans-serif;
  text-align: center;
}
/* Desktop Styles */
@media only screen and (max-width: 961px) {
  body {
    width: 100%;
  }
}
/* app Styles */
@media only screen and (min-width: 961px) {
  body {
    width: 960px;
  }
}

header {
  margin-top: 100px;
  margin-bottom: 50px;
  font-family: "Linux Libertine", "Georgia", "Times", serif;
}

/* main {

} */

/* footer {
  margin-left: 20px;
  margin-top: auto;
}
@media only screen and (max-width: 961px) {
  footer {
    text-align: center;
    margin-left: unset;
  }
} */

span.button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 0.25em 1em;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 1.2em;
}

#btn-true.button {
  background-color: green;
}
#btn-true.button:hover {
  background-color: #555555;
}
#btn-false.button {
  background-color: #f44336;
}
#btn-false.button:hover {
  background-color: #555555;
}

div.button-bar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5em;
}
/* app Styles */
@media only screen and (max-width: 961px) {
  div.button-bar {
    flex-direction: column;
    align-items: center;
  }
}
/* Desktop Styles */
@media only screen and (min-width: 961px) {
  div.button-bar {
    flex-direction: row;
    justify-content: space-between;
  }
}

div.button-holder {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 5px 15px;
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}
/* On mouse-over, add a deeper shadow */
div.button-holder:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
